div.postit{
    border: 1px solid gold;
    border-radius: 5px;
    background-color: yellow;
    color: orange;
    float: left;
    width: 150px;
    height: 150px;
    margin: 2px;
    padding: 1px 1px 1px 1px;
    text-align: center;
    word-break: break-all;
}

div.postit .header a {
    color: red;
    text-decoration: none;
    text-align: right;
    display: block;
    margin: 1px 1px 0 0;
}

div.postit .header a:hover {
    color: blueviolet;
}

div.postit .header {
    border-bottom: 1px solid #aaa;
}

#inputDiv{
    height: 50px;
}

#todoDiv{
    height: 500px;
    background-color:rgb(36, 116, 36);
    border: 1px solid lightgreen;
    border-radius: 5px;
}

#leftCol{
    float: left;
    width:30%;
}

#rightCol{
    height:100%;
    float: left;
    width: 65%;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

ul > li{
    background-color: rgba(255, 255, 255, .5);
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

.close-thik:after {
    content: '✖'; /* UTF-8 symbol */
  }

  .close {
    position: relative;
    width: 32px;
    height: 32px;
    float: right;
  }

  .close:hover {
    opacity: 1;
  }

  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }